.btn {
    @include text($font1, normal, 500);
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    &--purple {
        padding: 25px 62px;
        border-radius: $borderRadius2;

        background: $colorSec2;
        color: $color3;

        position: relative;
        z-index: 10;
        overflow: hidden;

        @include media(550px) {
            padding: 20px 32px;
        }

        @include media(350px) {
            font-size: 16px;
            padding: 18px 26px;
        }
    }

    &--green {
        padding: 22px 26px;
        border-radius: $borderRadius2;

        color: $color3;
        background: #70C217;

        flex-grow: 0;
    }

    &--started {
        font-weight: bold;
        color: $color3;

        border: 2px solid $color3;
        border-radius: $borderRadius2;

        padding: 26px 46px;

        @include media(390px) {
            padding: 20px 32px;
        }
    }
}

.btn--intro {
    margin-right: 12px;

    @include media(550px) {
       margin: 0 0 15px 0;
    }
}

.btn--prefooter {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 10;
    overflow: hidden;

    margin-left: 67px;
    margin-right: -137px;
  
    cursor: pointer;
    user-select: none;

    @include media(1334px) {
        margin-right: 0;
    }

    @include media(1194px) {
        margin-left: 27px;
    }

    @include media(1050px) {
        margin-left: 0;
    }
}

.wave {
    position: absolute;
    z-index: -1;

    width: 1px;
    height: 1px;
    transform: scale(0);
    border-radius: 50%;

    transition: all 0.6s ease;
    opacity: 0;

    background: $color1;
    @include noSelect;

    &--active {
        opacity: 0.7;
        transform: scale(444);

        @include media(390px) {
            transform: scale(40);
        }
    }

    &--remove {
        opacity: 0;
    }

    @include media(390px) {
        width: 10px;
        height: 10px;
    }
}
