.footer {
    display: flex;
    justify-content: center;

    background: $colorSec2;

    padding: 45px 0 64px 0;
}

.footer__body {
    width: 100%;
    max-width: 1480px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__top {
    max-width: 1227px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin-bottom: 135px;

    @include media(1268px) {
        padding: 0 15px;
    }

    @include media(1268px) {
        flex-direction: column;
        align-items: center;

        margin-bottom: 100px;
    }

    @include media(400px) {
        margin-bottom: 75px;
    }
}

.footer__elem {
    display: flex;
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }

    @include media(1268px) {
        margin-bottom: 20px;
    }

    @include media(400px) {
        flex-direction: column;
        margin-bottom: 50px;
    }
}

.footer__icon {
    margin-right: 15px;

    @include media(400px) {
        width: 31px;
        height: 31px;

        margin: 0 0 10px 0;
    }
}

.footer__text {
    @include text($font1, normal, normal);
    font-size: 20px;
    line-height: 52px;

    color: $color3;
    
    @include media(400px) {
        font-size: 18px;
        line-height: 30px;

        max-width: 200px;
        text-align: center;
    }
}

.footer__logo {
    width: 183px;
    height: 37px;

    margin-bottom: 56px;
}

.footer__bottom {
    display: flex;
    justify-content: center;

    width: 100%;

    padding-top: 34px;
    border-top: 1px solid #9A7DFF;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;

    @include media(1196px) {
        padding: 0 15px;
    }

    @include media(1024px) {
        max-width: 700px;
        flex-wrap: wrap;
        justify-content: center;
    }

    @include media(768px) {
        flex-wrap: nowrap;

        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.footer__section {
    position: relative;
    z-index: 1;

    &:after, &:before {
        position: absolute;
        z-index: -1;
        content: '';
        
        width: 10px;
        height: 2px;
        background-color: $color3;
        transition: transform 0.3s ease;

        display: none;

        @include media(768px) {
            display: block;
        }
    }

    &:after {
        top: 8px;
        right: 0;
    }

    &:before {
        top: 8px;
        right: 0;

        transform: rotate(90deg);
    }
    
    &.showed:before {
        transform: rotate(40deg);
    }

    &.showed:after {
        transform: rotate(140deg);
    }

    &:nth-child(1) {
        @media (min-width: 769px) and (max-width: 1024px) {
            margin-right: 138px;
        }
    }

    &:nth-child(n+3):nth-child(-n+4) {
        @media (min-width: 769px) and (max-width: 1024px) {
            margin-right: 138px;
        }
    }

    &:nth-child(2) {
        @media (min-width: 769px) and (max-width: 1024px) {
            order: 5;
        }
    }

    &:nth-child(4) {
        @media (min-width: 769px) and (max-width: 1024px) {
            order: 4;
        }
    }

    &:nth-child(odd) {
        @media (min-width: 769px) and (max-width: 1024px) {
            margin-bottom: 75px;
        }
    }

    @include media(768px) {
        overflow: hidden;
        margin-bottom: 30px;
        max-width: 200px;
        width: 100%;

        transition: max-height 0.5s ease;
        user-select: none;
        cursor: pointer;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.footer__bold {
    @include text($font1, normal, bold);
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;

    margin-bottom: 20px;

    color: $color3;
}

.footer__li {
    margin-bottom: 3px;

    a {
        @include text($font1, normal, normal);
        font-size: 14px;
        line-height: 22px;
    
        color: $color3;
    }

    &:last-child {
        margin-bottom: 0;
    }
}