.intro {
    display: flex;
    justify-content: center;

    margin-top: 162px;

    @include media(1468px) {
        margin-top: 0;

        flex: 1;
        align-items: center;
        justify-content: center;
    }

    @include media(1024px) {
        margin-top: -72px;
    }

    @media (max-height: 900px) and (max-width: 550px) {
        margin-top: 0;
    }
}

.intro__body {
    width: 100%;
    max-width: 1920px;

    position: relative;
}

.intro__content {
    margin-left: 220px;

    @include animated(translateX(0%));
    @include animTrans(1s, 0s, translateX(-20%));

    @include media(1569px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        margin-left: 0px;
    }
}

.intro__buttons {
    display: flex;
    align-items: center;

    @include media(550px) {
        flex-direction: column;
    }
}


.intro__btn {
    @include text($font1, normal, normal);
    font-size: 18px;
    line-height: 25px;

    color: $color2;

    a {
        @include text($font1, normal, bold);
        
        color: $colorSec1;
    }

    @include media(350px) {
        font-size: 16px;
        line-height: 25px;
    }
}