.prefooter {
    display: flex;
    align-items: center;
    justify-content: center;

    background: $colorSec3;
    padding: 78px 0;

    @include media(1050px) {
        padding: 58px 0;
        justify-content: space-around;
    }

    @include media(915px) {
        flex-direction: column;
        text-align: center;

        padding: 50px 0;
    }

    @include media(589px) {
        padding: 45px 0;
    }

    @include media(390px) {
        padding: 35px 0;
    }
}

.prefooter__title {
    @include text($font1, normal, normal);
    font-size: 36px;
    line-height: 52px;

    color: $color3;

    max-width: 855px;

    @include media(1194px) {
        font-size: 30px;
        line-height: 46px;

        max-width: 755px;
    }

    @include media(1050px) {
        max-width: 615px;
    }

    @include media(915px) {
        max-width: 815px;
        margin-bottom: 30px;
    }

    @include media(768px) {
        max-width: 575px;
    }

    @include media(678px) {
        max-width: 555px;
    }

    @include media(589px) {
        font-size: 24px;
        line-height: 37px;

        max-width: 455px;
    }

    @include media(505px) {
        font-size: 20px;
        line-height: 30px;
    }

    @include media(483px) {
        max-width: 400px;
    }

    @include media(430px) {
        max-width: 350px;
        margin-bottom: 20px;
    }

    @include media(390px) {
        max-width: 250px;

        font-size: 20px;
        line-height: 32px;
    }
}